:root{
    --main-bg: #FFFFFF;
    --main-text: #fce4de;
    --panel-bg: #50587D;
    --image-bg: #2e2e2e;
    --outer-container-bg: black;
    --button-bg: #50587D;
    /*--button-capture-bg: rgb(61, 103, 188);*/
    --button-hover-bg: #6b7396;
    --button-text: #fce4de;
    
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: var(--main-bg);
    margin: 0;
}

.nav-menu{
    height: 8vh;
    min-height: 100px;
    color: var(--main-text);
    background-color: var(--panel-bg);
    margin: 0px 0px 1vh 0px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    padding: 0 25px;
}

.title-display{
    font-size: 1.5rem;
}



.image-container{
    height: 44vh;
    margin: 0px;
    border-radius: 25px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: var(--image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
    
}

.image-container img{
    object-fit: contain;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#labels-overlay-image{
    display: none;
}

.button-container{
    padding: 2vh;
}

.image-adjustor-button{
    color: var(--button-text);
    background-color: var(--button-bg);
    font-size: 2.5rem;
    margin: 10px 10px;
    padding: 10px 0;
    border-radius: 10px;


}

.image-adjustor-button:hover{
    background-color: var(--button-hover-bg);
    cursor: pointer;
}


#view-selector{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 0.5em 1.5em 0.5em 0.5em;
    height: 2.5em;
    width: 98%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

    /* Add a custom dropdown arrow using a background image */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23fce4de" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.5em center; /* Position the arrow to the right, centered vertically */
    background-size: 2em; /* Size of the arrow */
}

#view-selector:hover,
#view-selector:focus{
    background-color: var(--button-hover-bg);
    outline: none;
}