:root{
    --main-bg: #FFFFFF;
    --main-text: #fce4de;
    --panel-bg: #50587D;
    --image-bg: #2e2e2e;
    --outer-container-bg: black;
    --button-bg: #50587D;
    /*--button-capture-bg: rgb(61, 103, 188);*/
    --button-hover-bg: #6b7396;
    --button-text: #fce4de;
    
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

html{
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    background-color: var(--main-bg);
}

.nav-menu{
    height: 4vh;
    color: var(--main-text);
    background-color: var(--panel-bg);
    text-align: center;
    padding-top: 1vh;
    margin: 0px 0px 1vh 0px;
    border-radius: 5px;
}

.outer-container{
    background-color: var(--outer-container-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vh;
    margin: 0px;
    border-radius: 25px;

}
.image-container{
    height: 90%;
    width: 80%;
    border-radius: 15px;
    background-color: var(--image-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    position: relative;
    
}

.image-container img{
    object-fit: contain;
    height: 100%;
    width: 90%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#labels-overlay-image{
    display: none;
}

.button-container{
    padding: 2vh;
}

.image-adjustor-button{
    color: var(--button-text);
    background-color: var(--button-bg);
    font-size: 2rem;
    margin: 10px 10px;
    border-radius: 10px;


}

.image-adjustor-button:hover{
    background-color: var(--button-hover-bg);
}
