:root{
    --main-bg: hsl(240, 34%, 27%);
    --main-text: hsl(0, 0%, 78%);
    --panel-bg: rgb(77, 168, 198);
    --image-bg: hsl(0, 1%, 67%);
    --outer-container-bg: black;
    --button-bg: rgb(77, 168, 198);
    
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

body{
    background-color: var(--main-bg);
}

.nav-menu{
    height: 4vh;
    background-color: var(--panel-bg);
    text-align: center;
    padding-top: 1vh;
    margin: 0px;
}

.outer-container{
    background-color: var(--outer-container-bg);
    display: flex;
    justify-content: center;
    height: 44vh;
    margin: 0px;
    padding-top: 1px;

}
.image-container{
    height: 90%;
    width: 80%;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    background-color: var(--image-bg);
    
}

img{
    object-fit: contain;
    height: 100%;
}

.button-container{
    padding: 2vh;
}

.image-adjustor-button{
    background-color: var(--button-bg);
    font-size: 2rem;
    margin: 0px 10px;
    border-radius: 10px;
}